matplotlib
networkx
numpy
scikit-learn
scipy
tqdm
rdkit
torch==2.2.2
torch-geometric
torch_cluster -f https://data.pyg.org/whl/torch-2.2.0+cpu.html
git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git
